* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.building-services {
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 1.5rem 0rem 1.5rem 5rem;
  width: 100%;
}
.building-services-content {
  width: 100%;
}
.building-services-content-subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #dfa01e;
  margin-bottom: 0.5rem;
  display: flex;
}
.building-services-content-subtitle div {
  height: 1px;
  width: 3 rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  background-color: #dfa01e;
}
.building-services-content-title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #235ab3;
}
.building-services-content-description {
  color: #4b5563;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.building-services-content-services-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.building-services-content-services-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.building-services-content-services-item:hover {
  transform: translateX(5px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.building-services-content-services-item-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #3b82f6;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.building-services-content-services-item-icon:hover {
  transform: scale(1.1);
}
.building-services-content-services-item-text {
  color: #105689;
  font-size: 1rem;
}
.building-services-image {
  border-top-left-radius: 8rem;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../../src/assets/intro-tmb/intro-tmb.png");
  background-size: cover;
  background-position: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.service-card {
  padding: 1.5rem;
  padding-left: 0rem;
}
.service-card .icon-container {
  margin-bottom: 1rem;
}
.service-card .icon-container img {
  width: 60px;
  height: 60px;
}
.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.service-card p {
  font-size: 1rem;
  color: #000000;
  line-height: 1.5;
}

.icon-container {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.icon-container::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #d9ecff;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.icon-container img {
  width: 100%;
  height: auto;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  height: 50vh;
  margin-left: 5rem;
  position: relative;
}
.about-content {
  width: 80%;
}
.about-content h5 {
  font-size: 1rem;
  color: #ffc107;
  margin-bottom: 0.5rem;
}
.about-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #105689;
}
.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 1.5rem;
}
.about-content-read-more {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  color: #000000;
  border: none;
  border-radius: 50px;
  border-color: #89b3df;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}
.about-content-read-more:hover {
  background-color: #0056b3;
}
.about-content-read-more span {
  font-size: 1.25rem;
}
.about-image-container {
  position: absolute;
  top: -3.5rem;
  right: 10rem;
  text-align: center;
  width: 700px;
  height: 505px;
}
.about-image-container img {
  height: 100%;
  width: 700px;
  height: 505px;
  border-radius: 10px;
}
.about-image-container-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  pointer-events: none;
}

.yellow-line {
  height: 2px;
  width: 2rem;
  margin-bottom: 1rem;
  background-color: #dfa01e;
}

.services-section {
  padding: 5rem;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  font-size: 1.2rem;
}

.services-header {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.services-header-subtitle {
  color: #dfa01e;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  padding-bottom: 1rem;
}
.services-header-title {
  color: #105689;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 1rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.services-item {
  background: #fff;
  padding: 3rem;
  border: 1px solid #d9e8f2;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services-item--highlighted .services-item-description {
  color: rgba(255, 255, 255, 0.9);
}
.services-item--highlighted .services-item-icon {
  fill: white;
}
.services-item-icon {
  margin-bottom: 1rem;
}
.services-item-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.services-item-description {
  color: #64748b;
  line-height: 1.4;
  font-size: 1.2rem;
}

.services-cta {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-cta-title {
  color: #dfa01e;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
}
.services-cta-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: #dfa01e;
  cursor: pointer;
  padding: 0;
  transition: gap 0.3s ease;
}
.services-cta-button:hover {
  gap: 1rem;
}
.services-cta-button-arrow {
  transition: transform 0.3s ease;
}
.services-cta-button:hover .services-cta-button-arrow {
  transform: translateX(5px);
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background-color: #105689;
  color: #fff;
  padding: 8rem 5rem 5rem 5rem;
  margin-top: 8rem;
}
.footer-section h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid #dfa01e;
}
.footer-section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.footer-section a {
  color: #ffffff;
  text-decoration: none;
}
.footer-section a:hover {
  text-decoration: underline;
}
.footer-section-about-us .footer-read-more {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #dfa01e;
}
.footer-section-useful-links ul {
  list-style: none;
  padding: 0;
}
.footer-section-useful-links ul li {
  margin-bottom: 1rem;
}
.footer-section-useful-links ul li a {
  font-size: 0.9rem;
}
.footer-section-connect-us p {
  margin-bottom: 1rem;
}
.footer-section-connect-us p a {
  font-size: 0.9rem;
}
.footer-section-gallery .footer-gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.footer-section-gallery .footer-gallery-images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, transparent 50%, transparent 50%), url("../../../src/assets/footerbanner.png") no-repeat center center;
  background-size: contain;
  background-position: left;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  width: 70%;
  margin-top: 8rem;
  height: 8rem;
  display: flex;
}
.footer-header-bg {
  width: 60%;
  height: 100%;
  background-size: contain;
  background-position: center;
}
.footer-header-content {
  width: 84%;
  height: 100%;
  background-color: #d79b20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
  padding: 10px;
}
.footer-header-content p {
  margin-left: 11rem;
}
.footer-header-button {
  background-color: white;
  border: none;
  border: 3px solid #d9e8f2;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}
.footer-header-button span {
  color: #d79b20;
  font-size: 1.2rem;
}

.footer-bottom {
  background-color: #003358;
  color: #fff;
  padding: 1rem 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 4.5rem;
}
.footer-bottom-copyright {
  margin-right: 1rem;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.footer-bottom-develop {
  display: flex;
  align-items: center;
}
.footer-bottom-develop p {
  font-size: 14px;
  margin-right: 1rem;
  font-weight: 300;
}
.play-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(255, 183, 0, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.play-button::before,
.play-button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 183, 0, 0.4);
  opacity: 0.5;
}

.play-button::before {
  width: 110px;
  height: 110px;
}

.play-button::after {
  width: 140px;
  height: 140px;
  opacity: 0.3;
}

.play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.9;
}

.play-icon {
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.hero {
  height: 80vh;
  background-color: blue;
}
.hero-header {
  height: 3rem;
  background-color: white;
  padding: 0rem 5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero-header-container-contact {
  display: flex;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-header-meadia {
  display: flex;
  gap: 3px;
}
.hero-header-meadia-social {
  background-color: #d9e8f2;
  top: 0px;
  width: 40px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hero-content {
  height: 77vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../../src/assets/bnr-01/bnr-01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero-content-text {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  width: 50rem;
  font-weight: 100;
}

.logo {
  padding: 0.5rem;
  height: 5rem;
  width: fit-content;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 5rem;
  background-color: white;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stats {
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  overflow: hidden;
  width: 90%;
}
.stats-img-container {
  border-top-right-radius: 8rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../../src/assets/intro-tmb/intro-tmb.png");
  background-size: cover;
  background-position: center;
}
.stats-content-header {
  background-color: rgb(255, 255, 255);
  height: 10rem;
  padding-top: 3rem;
}
.stats-content-body {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.stats-content-body-item {
  height: fit-content;
  margin-bottom: 2rem;
}
.stats-content-body-item h4 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: #dfa01e;
}

.prime-title {
  font-size: 36px;
  color: #105689;
}

.small-title {
  font-size: 1rem;
  font-weight: 300;
  color: #dfa01e;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.small-title div {
  height: 1px;
  width: 2rem;
  background-color: #dfa01e;
}

.line {
  height: 2px;
  background-color: #105689;
  margin: 1rem 0;
}

.section-five {
  height: 35rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10rem;
}
.section-five-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-five-content-top {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10rem;
}
.section-five-content-body {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 20;
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.section-five-content-body-item {
  height: 100%;
  background-color: white;
  border-bottom: 2px solid #105689;
}
.section-five-content-body-item .img-container {
  height: 60%;
  width: 100%;
  overflow: hidden;
}
.section-five-content-body-item .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-five-blue-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 40rem;
  background-color: #105689;
  padding-left: 10rem;
  padding-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
