.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  padding: 5rem 8rem;
  margin-bottom: 5rem;
}

.service-card {
  padding: 1.5rem;
  padding-left: 0rem;

  .icon-container {
    margin-bottom: 1rem;

    img {
      width: 60px;
      height: 60px;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }

  p {
    font-size: 1rem;
    color: #000000;
    line-height: 1.5;
  }
}
.icon-container {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.icon-container::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #d9ecff;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.icon-container img {
  width: 100%;
  height: auto;
}
