.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  padding: 2rem;
  //   text-align: center;
  background-color: #f8f9fa;
}

.service-card {
  background: #fff;

  //   border-radius: 8px;
  //   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;

  //   transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .icon-container {
    margin-bottom: 1rem;

    img {
      width: 60px;
      height: 60px;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    color: #0056b3;
    font-weight: 600;
  }

  p {
    font-size: 1.5rem;
    color: #000000;
    line-height: 1.5;
  }
}
