.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  height: 50vh;
  margin-left: 8rem;
  position: relative;

  &-content {
    width: 80%;
    h5 {
      font-size: 1rem;
      color: #ffc107;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #105689;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: #666;
      margin-bottom: 1.5rem;
    }

    &-read-more {
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
      color: #000000;
      border: none;
      border-radius: 50px;
      border-color: #89b3df;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      text-transform: uppercase;

      &:hover {
        background-color: #0056b3;
      }

      span {
        font-size: 1.25rem;
      }
    }
  }

  &-image-container {
    position: absolute;
    top: -3.5rem;
    right: 10rem;
    text-align: center;
    width: 700px;
    height: 505px;

    img {
      height: 100%;
      width: 700px;
      height: 505px;
      border-radius: 10px;
    }

    &-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      pointer-events: none;
    }
  }
}
.yellow-line {
  height: 2px;
  width: 2rem;
  margin-bottom: 1rem;
  background-color: #dfa01e;
}
