.hero {
  height: 80vh;
  background-color: blue;

  &-header {
    height: 3rem;
    background-color: white;
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: end;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &-contact {
        display: flex;
        gap: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-meadia {
      display: flex;
      gap: 3px;
      &-social {
        background-color: #d9e8f2;
        top: 0px;
        width: 40px;
        height: 40px;
        border: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  &-content {
    height: 77vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
      url("../../src/assets/bnr-01/bnr-01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &-text {
      position: absolute;
      bottom: 5rem;
      left: 5rem;
      color: white;
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
      width: 50rem;

      font-weight: 100;
    }
  }
}
.logo {
  padding: 0.5rem;
  height: 5rem;
  width: fit-content;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 5rem;
  background-color: white;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;

    &-header {
      padding: 0rem 1rem;

      &-container {
        gap: 0.5rem;
      }
    }
    &-content {
      height: 60vh;
      &-text {
        font-size: 1.5rem;
        width: 20rem;
        left: 1rem;
      }
    }
  }
}
