.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background-color: #105689;
  color: #fff;
  padding: 5rem 8rem;
  padding-top: 10rem;
  margin-top: 8rem;

  &-section {
    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 1rem;
      position: relative;
      padding-bottom: 1rem;
      border-bottom: 1.5px solid #dfa01e;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-about-us {
      .footer-read-more {
        display: inline-block;
        margin-top: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: #dfa01e;
      }
    }

    &-useful-links {
      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 1rem;

          a {
            font-size: 0.9rem;
          }
        }
      }
    }

    &-connect-us {
      p {
        margin-bottom: 1rem;

        a {
          font-size: 0.9rem;
        }
      }
    }

    &-gallery {
      .footer-gallery-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
.footer-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, transparent 50%, transparent 50%),
    url("../../../src/assets/footerbanner.png") no-repeat center center;
  background-size: contain;
  background-position: left;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  width: 70%;
  margin-top: 8rem;
  height: 8rem;
  display: flex;

  &-bg {
    width: 60%;
    height: 100%;
    background-size: contain;
    background-position: center;
  }
  &-content {
    width: 84%;
    height: 100%;
    background-color: #d79b20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
    padding: 10px;
    p {
      margin-left: 11rem;
    }
  }

  &-button {
    background-color: white;
    border: none;
    border: 3px solid #d9e8f2;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    span {
      color: #d79b20;
      font-size: 1.2rem;
    }
  }
}

.footer-bottom {
  background-color: #003358;
  color: #fff;
  padding: 1rem 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 8rem;

  &-copyright {
    margin-right: 1rem;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
  }

  &-develop {
    display: flex;
    align-items: center;
    p {
      font-size: 14px;
      margin-right: 1rem;
      font-weight: 300;
    }
    img {
    }
  }
}
.play-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(255, 183, 0, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.play-button::before,
.play-button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 183, 0, 0.4);
  opacity: 0.5;
}

.play-button::before {
  width: 110px;
  height: 110px;
}

.play-button::after {
  width: 140px;
  height: 140px;
  opacity: 0.3;
}

.play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.9;
}

.play-icon {
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
